<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="arctic_seasport_admin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="arctic_seasport_admin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="arctic_seasport_admin.Properties.Settings.arctic_seasport_dbConnectionString"
            connectionString="server=localhost;user id=admin1;database=arctic_seasport_db"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <arctic_seasport_admin.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="Server" serializeAs="String">
                <value>mandreassen.mysql.domeneshop.no</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>mandreassen</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>DfrYqtucrd2ANny</value>
            </setting>
            <setting name="company" serializeAs="String">
                <value>Kingfisher</value>
            </setting>
            <setting name="country" serializeAs="String">
                <value>Tyskland</value>
            </setting>
        </arctic_seasport_admin.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <arctic_seasport_admin.Properties.Settings>
            <setting name="Database" serializeAs="String">
                <value>mandreassen</value>
            </setting>
        </arctic_seasport_admin.Properties.Settings>
    </applicationSettings>
</configuration>